.env
venv/
postgres_data/
**/cache/
Test Inputs/
Test Outputs/
*.log

__pycache__/
*.py[cod]
*$py.class

hasura/metadata/
hasura/migrations/
hasura/seeds/
hasura/config.yaml


backend/outputs/

backend/.venv/